.wropp .note {
  position: absolute;
  z-index: 5;
  width: 150px;
  min-height: 150px;
  background-color: #81ecec;
  border: 2px solid #2d3436;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}
.wropp .note .title-note {
  background-color: #a29bfe;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.wropp .note .category-title {
  width: 100%;
  padding: 5px;
  background-color: #55efc4;
  color: black;
  text-transform: capitalize;
  font-size: 16px;
  user-select: none;
}
.wropp .note .btn-block {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 20px;
  right: 0;
  display: flex;
}
.wropp .note .btn-block .btn-edit {
  background-image: url(../icon/edit_icon.svg);
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.wropp .note .btn-block .btn-edit:hover {
  opacity: 1;
}
.wropp .note .btn-block .btn-del {
  background-image: url(../icon/delete_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.wropp .note .btn-block .btn-del:hover {
  opacity: 1;
}
.wropp .note .note-text {
  padding: 5px;
  color: #444;
  font-size: 14px;
  height: 100%;
  user-select: none;
}
.wropp .list-enter {
  transition: 1s;
  transform: rotateY('45');
}
.wropp .list-enter-active {
  transition: 1s;
  transform: rotateY('45');
}
