body,
html,
input,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: black;
  border: none;
  box-shadow: none;
}
body {
  background-color: #ffeaa7;
}
#app {
  position: relative;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #74b9ff;
  height: 40px;
  width: 100%;
}
.menu-container button {
  margin-right: 20px;
  padding: 5px;
}
.menu-container input {
  border: 1px solid #404040;
  width: 200px;
  border-radius: 3px;
  padding: 3px;
}
.menu-container h5 {
  margin-left: 10px;
  color: #404040;
  font-size: 16px;
  font-weight: normal;
}
.menu-container .cat-filt {
  margin-left: 5px;
  width: 100px;
  padding: 3px;
  border-radius: 3px;
  text-transform: capitalize;
}
.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 6;
}
.modal.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.modal.active .form-container {
  transform: none;
  transition: 0.6s;
}
.modal .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal .form-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 400px;
  margin: auto;
  z-index: 4;
  background-color: aliceblue;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50px);
}
.modal .form-container h5 {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}
.modal .form-container select {
  width: 250px;
  margin-bottom: 30px;
}
.modal .form-container .title-note {
  width: 250px;
  margin-bottom: 30px;
  color: #333;
  font-size: 16px;
  border: 1px solid #444;
}
.modal .form-container textarea {
  width: 250px;
  height: 100px;
}
.modal .form-container .btn-container {
  display: flex;
  width: 250px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}
.modal .form-container .btn-container .btn-add {
  width: 80px;
}
.modal .form-container .btn-container .btn-cancel {
  width: 80px;
}
.note {
  position: absolute;
  z-index: 5;
  width: 150px;
  min-height: 150px;
  background-color: #81ecec;
  border: 2px solid #2d3436;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}
.note .title-note {
  background-color: #a29bfe;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.note .category-title {
  width: 100%;
  padding: 5px;
  background-color: #55efc4;
  color: black;
  text-transform: capitalize;
  font-size: 16px;
  user-select: none;
}
.note .btn-block {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 20px;
  right: 0;
  display: flex;
}
.note .btn-block .btn-edit {
  background-image: url(../icon/edit_icon.svg);
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.note .btn-block .btn-edit:hover {
  opacity: 1;
}
.note .btn-block .btn-del {
  background-image: url(../icon/delete_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.note .btn-block .btn-del:hover {
  opacity: 1;
}
.note .note-text {
  padding: 5px;
  color: #444;
  font-size: 14px;
  height: 100%;
  user-select: none;
}
.message {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 120px;
  height: 40px;
  background-color: #a29bfe;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transform: translateY(-20px);
}
.message.active {
  opacity: 0.8;
  transition: 0.5s;
  transform: none;
}
.message p {
  color: #636e72;
  font-size: 16px;
}
